body{
    margin:0;
}

header{
    background-color: #79ADDC;
    height:80px;
    width:100%;
    display: flex;
    position: static;
    
}

section.contenu {
    background-image: url(tuilePaterne.png);
    background-repeat: repeat;
    background-size:300px;
    height: 92%;
    width: 100%;
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
    }

h1 {
    font-size: 160px;
    font-family: 'Dongle', sans-serif;
    color: rgb(31, 31, 31);
    text-shadow:
    -2px -2px 0 #FCF5C7,
     0   -2px 0 #FCF5C7,
     2px -2px 0 #FCF5C7,
     2px  0   0 #FCF5C7,
     2px  2px 0 #FCF5C7,
     0    2px 0 #FCF5C7,
    -2px  2px 0 #FCF5C7,
    -2px  0   0 #FCF5C7;
    margin:0;
    padding:0;
}

h2 {
    font-size: 100px;
    font-family: 'Dongle', sans-serif;
    color: rgb(31, 31, 31);
    text-shadow:
    -2px -2px 0 #FCF5C7,
     0   -2px 0 #FCF5C7,
     2px -2px 0 #FCF5C7,
     2px  0   0 #FCF5C7,
     2px  2px 0 #FCF5C7,
     0    2px 0 #FCF5C7,
    -2px  2px 0 #FCF5C7,
    -2px  0   0 #FCF5C7;
    margin:0;
    padding:0;
    /*height:100px;*/
}

a {
    text-decoration:none;
    color:inherit;
}

nav.boutonsAlignes{
    height:350px;
    width:85%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap:wrap;
}

a.boutonNavigation {
    transition:0.2s;
    padding:20px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size:40px;
    border-width:5px;
    border-radius: 180px;
    border-style: solid;
    border-color : #FCF5C7;
    width:45%;
    text-align: center;
}

#page1 {
    transition:0.2s;
    background-color:#FFC09F;
}

#page2 {
    transition:0.2s;
    background-color:#79ADDC;
}

#page3 {
    transition:0.2s;
    background-color:#FFEE93;
}

#page4 {
    transition:0.2s;
    background-color:#ADF7B6;
}

a.boutonNavigation:hover {
    transition-delay: 0.1s;
    transition:0.5s;
    background-color: rgb(31, 31, 31) !important;
    color: whitesmoke;
    cursor: pointer;
}
