header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height: 50px;
    background-color : rgb(129, 129, 115);
}

.texte_logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;    
}

#bord{
    width:80%;
    height: 50px;
    background-color : rgb(129, 129, 115);
}

#menu{
    width:10%;
    height: 50px;
    background-color : rgb(129, 129, 115);
}

.menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color : rgb(129, 129, 115);
    border: none;
}

.menu-button:hover{
    background-color: #524f4f;
    transition: 0.5s;
}

.image_menu img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;   
}


body {
    background-color: rgb(255, 255, 255);
}

main{
    min-height: 900px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 129, 115);
    margin-bottom: 5px;
    width:100%;
    height: 150px;
}



.image_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_footer img{
    width: 30%;
}

.dropdown-menu {
    display: none;
    background-color: rgb(129, 129, 115);   
}

.dropdown-menu a {
  height: 200px;
  font-size: 25px;
  color: #333131;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

 }


.dropdown-menu a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 223);
  transition: 1s;

}
  
.image_menu:hover .dropdown-menu, .dropdown-menu:hover{
  display: block;
}

