header{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height: 50px;
    background-color : #79ADDC;
}

.texte_logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;    
}

#bord{
    width:80%;
    height: 50px;
    background-color : #79ADDC;
}

#menu{
    width:10%;
    height: 50px;
    background-color : #79ADDC;
}

.menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color : #79ADDC;
    border: none;
}

.menu-button:hover{
    background-color: #aecce6;
    transition: 0.5s;
}

.image_menu img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;   
}


body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

main{
    padding-top: 50px;
    min-height: 900px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79ADDC;
    margin-bottom: 5px;
    width:100%;
    height: 150px;
}



.image_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_footer img{
    width: 30%;
}

.dropdown-menu {
    display: none;
    background-color: #79ADDC;   
}

.dropdown-menu a {
  height: 100px;
  font-size: 12px;
  font-family: 'Wix Madefor Display', sans-serif;
  color: #333131;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

 }


.dropdown-menu a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aecce6;
  transition: 1s;

}
  
.image_menu:hover .dropdown-menu, .dropdown-menu:hover{
  display: block;
}

.remonte{
    height: 70px;
    width: 70px;
    background: #79ADDC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.remonte :hover{
    background-color: #aecce6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    transition: 0.5s;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    

}

.icone{
    width:50px
}


.bloc1{
    margin: 5px;
    background: #FFC09F; 
    border: 5px solid #FFC09F;
    box-shadow: 6px 6px 7px rgba(228, 123, 73, 0.5);
    border-radius: 30px;
    padding: 15px;
    width: 450px;   
}

.bloc2{
    margin: 5px;
    background: #FFEE93;
    border: 5px solid #FFEE93;
    box-shadow: 6px 6px 7px rgba(254, 239, 158, 0.5);
    border-radius: 30px;
    padding: 15px;
    width: 450px;   
}

.bloc3{
    margin: 5px;
    background: #ADF7B6;
    border: 5px solid #ADF7B6;
    box-shadow: 6px 6px 7px rgba(189, 245, 187, 0.5); 
    border-radius: 30px;
    padding: 15px;
    width: 450px;   
}

.titre {
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Dongle', sans-serif;
}
.texte{
    display: flex;
    font-size: 20px;
    font-family: 'Wix Madefor Display', sans-serif;

}

.image1{
    width: 500px;
}

.image2{
    width: 500px;
}

.fond1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.fond2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.fond3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
