header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


#logo{
    width:10%;
    height: 60px;
    background-color : rgb(129, 129, 115);
}

.texte_logo img{
    margin-left: 3px;
    margin-top: 10px;
    width: 98%;    
}

#bord{
    width:78%;
    height: 60px;
    background-color : rgb(129, 129, 115);
}

#menu{
    width:10%;
    height: 60px;
    background-color : rgb(129, 129, 115);
}

.image_menu img{
    margin-left: 40%;
    margin-top: 7px;
    width: 20%;    
}



body {
    background-color: rgb(255, 255, 255);
}


footer{
    bottom: 0;
    position:absolute;
    align-items: center;
    background-color: rgb(129, 129, 115);
    margin-bottom: 5px;
    width:100%;
    height: 150px;
}

.image_footer img {
    margin-left: 47%;
    margin-top: 20px;
    width: 7%;

}
