header{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height: 50px;
    background-color : #79ADDC;
}

.texte_logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;    
}

#bord{
    width:80%;
    height: 50px;
    background-color : #79ADDC;
}

#menu{
    width:10%;
    height: 50px;
    background-color : #79ADDC;
}

.menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color : #79ADDC;
    border: none;
}

.menu-button:hover{
    background-color: #aecce6;
    transition: 0.5s;
}

.image_menu img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;   
}


body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

main{
    padding-top: 50px;
    min-height: 900px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79ADDC;
    margin-bottom: 5px;
    width:100%;
    height: 150px;
}



.image_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_footer img{
    width: 30%;
}

.dropdown-menu {
    display: none;
    background-color: #79ADDC;   
}

.dropdown-menu a {
  height: 100px;
  font-size: 12px;
  font-family: 'Wix Madefor Display', sans-serif;
  color: #333131;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

 }


.dropdown-menu a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aecce6;
  transition: 1s;

}
  
.image_menu:hover .dropdown-menu, .dropdown-menu:hover{
  display: block;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 50px;
}

.item{
    width: 450px;
    height: 450px;
}

img {
    width: 500px;
    height: auto;
    margin-top: 10px;;
    margin-top: 80px;
}

.bloc1{
    background-color: #F4743B; 
    border-radius: 20px;
    border: 5px solid #F4743B;
    box-shadow: 6px 6px 7px rgba(228, 123, 73, 0.5);
    width: 450px;
    height: 450px;
    overflow: hidden;
    margin-top: 30px ;
    border-radius: 30px;
    padding: 10px;
}

.bloc2{
    background-color: #FFEE93;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #FFEE93;
    box-shadow: 6px 6px 7px rgba(254, 239, 158, 0.5);
    width: 450px;
    height: 450px;
    overflow: hidden;
    margin-left: 30px ;
}

.bloc3{
    background-color: #FFEE93; 
    border-radius: 20px;
    border: 5px solid #FFEE93;
    box-shadow: 6px 6px 7px rgba(254, 239, 158, 0.5);   
    width: 450px;
    height: 450px;
    overflow: hidden;
    margin-right: 50px ;
    margin-top: 40px;
    padding: 10px;
}

.bloc4{
    background-color: #FFC09F;  
    border-radius: 20px;
    border: 5px solid #FFC09F;
    box-shadow: 6px 6px 7px rgba(245, 195, 164, 0.5);
    width: 450px;
    height: 450px;
    overflow: hidden;
    margin-left: 22px ;
    padding: 10px;
}

.ligne{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h2{
    font-family: 'Dongle', sans-serif;
    font-size:  40px;
}

p{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 19px;
}


