header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height: 50px;
    background-color : rgb(129, 129, 115);
}

.texte_logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;    
}

#bord{
    width:80%;
    height: 50px;
    background-color : rgb(129, 129, 115);
}

#menu{
    width:10%;
    height: 50px;
    background-color : rgb(129, 129, 115);
}

.menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color : rgb(129, 129, 115);
    border: none;
}

.menu-button:hover{
    background-color: #524f4f;
    transition: 0.5s;
}

.image_menu img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;   
}


body {
    background-color: rgb(255, 255, 255);
}

main{
    min-height: 900px;
}
.haut {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.fond1 {
    width:  800px;
    height: 600px;
    background-color: #50504f;
    position: absolute;
}

.fond2 {
    width:  800px;
    height: 600px;
    background-color: #343232;
    position: absolute;
}

#parti1 {
    left: 300px; 
    top: 70px;
}

#parti2 {
    left: 300px; 
    top: 670px;
}

#parti3 {
    left: 300px; 
    top: 1270px;
}

#image{
    position: center;
    width: 50%;

}

#haut {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}   


.custom-block {
    width: 450px;
    height: 450px;
    position: absolute;
    overflow: hidden;
}

#block1 {
    left: 200px; 
    top: 120px;
    background-color: #b85c23; 
}

#block2 {
    left: 100px;
    top: 720px;
    background-color: #e4fb67; 
}

#block3 {
    left: 800px;
    top: 770px;
    background-color: #ffaa33; 
}

#block4 {
    left: 700px;
    top: 1370px;
    background-color: #1d2e40; 
}

.custom-block p {
    font-size: 22px;
    color: #000000;
    white-space: normal;
}

.custom-block h1 {
    font-size: 30px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#image1 {
    position: absolute;
    top: 180px;
    right: 150px; 
    width: 450px;
    height: auto;
}
#image2 {

    position: absolute;
    top: 1400px;
    right: 800px; 
    width: 450px;
    height: auto;
}



body, html {
    margin: 0;
    padding: 0;
    height: 1870px;
}
    
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 129, 115);
    margin-bottom: 5px;
    width:100%;
    height: 150px;
}



.image_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_footer img{
    width: 30%;
}

.dropdown-menu {
    display: none;
    background-color: rgb(129, 129, 115);   
}

.dropdown-menu a {
  height: 200px;
  font-size: 25px;
  color: #333131;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

 }


.dropdown-menu a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 223);
  transition: 1s;

}
  
.image_menu:hover .dropdown-menu, .dropdown-menu:hover{
  display: block;
}
