
#logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height: 50px;
    background-color : #79ADDC;
    margin-right: auto;
}
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.texte_logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;    
}

.remonte{
    height: 70px;
    width: 70px;
    background: #79ADDC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.remonte :hover{
    background-color: #aecce6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    transition: 0.5s;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    

}

.icone{
    width:50px
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #79addc;
    padding: 10px 20px;
    position: relative;
}

.logo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: 0.4s;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #79addc, whitesmoke);
    position: absolute;
    top: 100%;
    right: -25%;
    width: 25%;
    z-index: 1;
    transition: right 0.4s;
}

.menu.active {
    right: 0;
}

.menu.active li {
    margin: 25px 50px;

}

.menu.active li a {
    text-decoration: none; 
    color: whitesmoke; 
    text-shadow: 2px 2px 4px #000;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}

#logo.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#logo.active .bar2 {
    opacity: 0;
}

#logo.active .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom right, #fcf5c7, #ADF7B6);
    font-family: 'Wix Madefor Display', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;

}

.content::after{
    content: "";
    display: block;
    clear: both;

}

.content h2 {
    margin-bottom: 30px;
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    line-height : 1;
}



.content img{
    width: 200px;
    height: 200px;
    object-fit : cover;
    border-radius: 40%;
    float: left;
    shape-outside: margin-box;
    margin: 0 20px 5px 0;
}

.content2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom right, #ffc09f, #FFEE93);
    font-family: 'Wix Madefor Display', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;

}

.content2::after{
    content: "";
    display: block;
    clear: both;

}


.content2 img{
    width: 200px;
    height: 200px;
    object-fit : cover;
    border-radius: 40%;
    float: right;
    shape-outside: margin-box;
    margin: 0 20px 5px 0;
}


.content2 h2{
    margin-bottom: 30px;
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    line-height : 1;
}


main{
    min-height: 900px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79addc;
    margin-bottom: 5px;
    width:100%;
    height: 150px;
}



.image_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_footer img{
    width: 30%;
}


