#logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height: 50px;
    background-color : #79ADDC;
    margin-right: auto;
}
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.texte_logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;    
}

.remonte{
    height: 70px;
    width: 70px;
    background: #79ADDC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.remonte :hover{
    background-color: #aecce6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    transition: 0.5s;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    

}

.icone{
    width:50px
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #79addc;
    padding: 10px 20px;
    position: relative;
    overflow-x: clip;
}

.logo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: 0.4s;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #79addc, whitesmoke);
    position: absolute;
    top: 100%;
    right: -25%;
    width: 25%;
    z-index: 1;
    transition: right 0.4s;
}

.menu.active {
    right: 0;
}

.menu.active li {
    margin: 25px 50px;

}

.menu.active li a {
    text-decoration: none; 
    color: whitesmoke; 
    text-shadow: 2px 2px 4px #000;
    font-size : 30px;
    font-family: 'Dongle', sans-serif;
}

#logo.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#logo.active .bar2 {
    opacity: 0;
}

#logo.active .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.bloc1{
    margin: 5px;
    background: #FFC09F; 
    border: 5px solid #FFC09F;
    box-shadow: 6px 6px 7px rgba(228, 123, 73, 0.5);
    border-radius: 30px;
    padding: 15px;
    width: 450px;   
}

.bloc2{
    margin: 5px;
    background: #FFEE93;
    border: 5px solid #FFEE93;
    box-shadow: 6px 6px 7px rgba(254, 239, 158, 0.5);
    border-radius: 30px;
    padding: 15px;
    width: 450px;   
}

.bloc3{
    margin: 5px;
    background: #ADF7B6;
    border: 5px solid #ADF7B6;
    box-shadow: 6px 6px 7px rgba(189, 245, 187, 0.5); 
    border-radius: 30px;
    padding: 15px;
    width: 450px;   
}

.titre {
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Dongle', sans-serif;
}
.texte{
    display: flex;
    font-size: 20px;
    font-family: 'Wix Madefor Display', sans-serif;

}

.image1{
    width: 500px;
}

.image2{
    width: 500px;
}

.fond1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.fond2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.fond3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79ADDC;
    margin-bottom: 5px;
    width:100%;
    height: 150px;
}



.image_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_footer img{
    width: 30%;
}
